body {
  margin: 0; /* this resets the browser-set default margin style */
  padding: 0; /*this resets the browser-set default padding style*/
  color: white;
  background-color: rgba(241, 178, 115);
  filter: sepia(100%);
  font-family: Helvetica, sans-serif; /* font-size: px; */
  min-height: 100vh; /*in css grid section fundamentals - stretching height of the viewport*/
  display: grid;
  /* grid-template-rows: auto auto 1fr 2fr auto;/*attempting to add CSS Grid
  grid-template-columns: 1fr 2fr;
  grid-column: span 2; */
  grid-template-areas:
    "nav nav nav nav" /*placing area names in rows and columns as I want them named*/
    "img"
    "aside main main"
    "footer footer footer footer";
}

/* .nav / or .nav-links / or .class??? { //what do I need to select to make nav bar white?
    color: white;
} */
.navigation-bar {
  background-color: white;
  height: 50px;

  /* using flexbox below. In researching which is best to use for nav bars,
    flexbox is better for a more 1 D layout*/
  display: flex;
  justify-content: space-evenly; /*spaced evenly between them so space also on left and right*/
  align-items: center; /*centered words and aligned in the middle of 50px*/
  border-top-left-radius: 10px; /*for making a slight curve at the top left corner of page*/
  border-top-right-radius: 10px;
}

aside {
    background-color: aquamarine;
    color: black;
}

main {
    background-color: grey;
}

footer {
    background-color: rgb(76, 73, 73);
}
